#footer{
  width: 100%;
  min-height: 200px;
  background: #171717;
  display: flex;
  justify-content: center;
  align-items: center;
  .group-socials {
    position: relative;
    z-index: 100;
}
    .menu-socials {
      display: flex;
      gap: 1em;
      z-index: 10;
      right: 1em;
      top: 1.1em;
      transition: opacity 0.4s ease-in-out;
      opacity: 1;
      .list-socials{
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        .social-item{
          padding: 0 20px;
          a{
            i{
              font-size: 30px;
    background: linear-gradient( 
      45deg,
      #434343, #9b5a09, #ff6a00, #ff9671, #c4980a, #ffff00 );
      background-size: 300%;
      background-position: left;
      transition: background-position 0.5s;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
            }
          }
        }
        .social-item:hover{
          i{
            background-position: right;
          }
        }
      }
    }
  
}
.menu-demo{
  &-_item{
    background:red;
  }
  &-_item__link{
    font-size: 30px;
    color: blueviolet;
  }
}