.header{
  position: relative;
  height: 100vh;
  background: #07080A;
  overflow: hidden;
}
.menu-primary {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  list-style: none;
  padding: 20px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  max-width: 500px;
  background: rgba(0, 0, 0, 0.76);
  z-index: 999;
  transform: translateX(-100%);
  transition: 0.35s linear;
  .menu-item{
    margin-bottom: 30px;
    a{
      font-size: 30px;
    }
  }
}
.menu-primary .menu-item:not(:first-child) {
  margin-left: 15px;
}

/* Css menu */

.wrapper-header {
  background-color: #000000c2;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  padding: 0 25px;
  height: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrapper-header.change-bg {
  background-color: rgba(0, 0, 0, 0.7);
  box-shadow: 0 0 5px #ffffff5e;
  
}
.menu-toggle.is-active{
font-size: 30px;
display: block;
margin-right: auto;
cursor: pointer;
position: relative;
z-index: 10;
transition: all 0.25s ease-in;
}
.menu-toggle:not(.is-active){
z-index: 1;
opacity: 0;
transition: all 0.25 ease-in;
}
.menu-close{
  position: absolute;
left: 20px;
margin-right: auto;
z-index: 1;
opacity: 0;
visibility: hidden;
font-size: 30px;
color: white;
transition: all 0.25 ease-in;
}
.menu-close.is-active{
opacity: 1;
visibility: visible;
z-index: 10;
transition: all 0.25 ease-in;
}
.menu-bg{
  width: 50px;
  height: 50px;
  border-radius: 100rem;
  background-color:#000000cc;
  position: fixed;
  right: 15px;
  z-index: 0;
  transform: scale(0);
  transition: all 0.5s ease;
}
.menu-primary.is-active{
  transform: translateX(0);

}
.menu-link{
  font-size: 18px;
  text-transform: uppercase;
  color :white;
  transition: 0.25s ease;
  font-family: "Anurati";
  padding: 30px 0;
  position: relative;
  z-index: 1;

}
.menu-link:after {
  content: "";
  position: absolute;
  background-color: #E5650E;
  width: 0;
  height: 2px;
  z-index: -1;
  bottom: 20px;
  transition: all 0.25s ease-in;
  left: 0;
}
.menu-link:hover:after{
  width: 100%;
}
.menu-link i{
  margin-left: 10px;
}
.menu-link:hover {
  color: white;
}
.active .menu-link:hover {
  color: white;
}
li.active .menu-link {
  color: $primary-color;
}


.header .wrapper-header::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 3px;
  background: radial-gradient(at 50% 0, #ffffff94, transparent 70%);
  background-size: 100% 3px;
  background-repeat: no-repeat;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  75% {
    opacity: .2;
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
    transform: translateX(0%);
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    transform: translateX(100%);
  }
}

// menu socials

.header {
  .menu-socials {
    position: fixed;
    display: flex;
    gap: 1em;
    z-index: 10;
    right: 1em;
    top: 1.1em;
    transition: opacity 0.4s ease-in-out;
    opacity: 1;
    .list-socials{
      padding: 0;
      margin: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      .social-item{
        padding: 0 20px;
        a{
          i{
            font-size: 30px;
  background: linear-gradient( 
    45deg,
    #434343, #9b5a09, #ff6a00, #ff9671, #ffc75f, #f9f871 );
    background-size: 300%;
    background-position: left;
    transition: background-position 0.5s;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
          }
        }
      }
      .social-item:hover{
        i{
          background-position: right;
        }
      }
    }
  }
}
// content-header
.content-header {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 2;
  
  h1{
    font-size: 200px;
    font-family: teko;
    text-transform: uppercase;
    background: linear-gradient( 
45deg, #000000, #b76500, #f1914c, #ff862f, #ff2020, #bf1e1e, #490505);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
//praticles

canvas{
	display:block;
	vertical-align:bottom;
}

#particles-js{
	width:100%;
	height:100%;
  position: absolute;
  z-index: 1;
}
.eath-ani{
  position: absolute;
  object-fit: contain;
  animation: an_partner;
  -moz-animation: an_partner;
  -webkit-animation: an_partner;
  -o-animation: an_partner;
  display: block;
  animation-duration: 220s;
  animation-timing-function: linear;
  animation-delay: 0.001s;
  animation-iteration-count: infinite;
  -webkit-animation-duration: 220s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-delay: 0.001s;
  -webkit-animation-iteration-count: infinite;
}

@keyframes an_partner
{
	0%   { 
		 
	transform:rotate(-180deg);-webkit-transform:rotate(-180deg); /* Safari and Chrome */-moz-transform:rotate(-180deg); 
	}
 
 	 50%   { 
		 
	transform:rotate(0deg);-webkit-transform:rotate(0deg); /* Safari and Chrome */-moz-transform:rotate(0deg); 
	}
	 
	100% {
	transform:rotate(180deg);-webkit-transform:rotate(180deg); /* Safari and Chrome */-moz-transform:rotate(180deg); 
	 
	}
}

@-webkit-keyframes an_partner  
{

	0%   { 
		 
	transform:rotate(-180deg);-webkit-transform:rotate(-180deg); /* Safari and Chrome */-moz-transform:rotate(-180deg); 
	}
 
 	 50%   { 
		 
	transform:rotate(0deg);-webkit-transform:rotate(0deg); /* Safari and Chrome */-moz-transform:rotate(0deg); 
	}
	 
	100% {
	transform:rotate(180deg);-webkit-transform:rotate(180deg); /* Safari and Chrome */-moz-transform:rotate(180deg); 
	 
	}
}
@media screen and (max-width: 1440px) {

}
@media screen and (max-width: 1250px) {
  .menu-primary .menu-link {
    font-size: 16px;
    text-transform: uppercase;
    color: white;
    transition: 0.25s ease;
    font-family: "AquireBold";
    padding: 28px 10px;
    position: relative;
    z-index: 1;
}
}
@media screen and (max-width: 1023px) {
  .menu-primary .menu-link {
    font-size: 14px;
    text-transform: uppercase;
    color: white;
    transition: 0.25s ease;
    font-family: "Anurati";
    padding: 28px 5px;
    position: relative;
    z-index: 1;
}
}
@media screen and (max-width: 991px) {

.menu-item:not(:first-child) {
  margin-left: 5px;
}
}
